
<h2>test foot</h2>

<% if (user) { %>
    <a href="/logout">Log Out</a>
    <% } else { %>
      <a href="/auth/google">Login with Google</a>
      <% } %>
  </div>

  <div class="tentPic">

      <img src=https://i.imgur.com/cDyznip.png alt="Image" height="100" width="100">
    </div>


</body>
</html>