<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <link rel="stylesheet" href="/node_modules/material-icons/css/material-icons.css">
        <title><%= title %></title>
    </head>
    <body>
        <nav>
            <li>
                <% if (user) { %>
                <a href="/logout"><i class="material-icons left">trending_flat</i>Log Out</a>
                <% } else { %>
                <a href="/auth/google"><i class="material-icons left">vpn_key</i>Login with Google</a>
                <% } %>
                <a href="/items/"	<%- title === 'Add Item' ? 'class="active"' : '' %>>
                    ADD ITEM</a>
              </li>
            </nav>
            <main>
                <h1><%= title %></h1>


                <!-- In addition to the typical boilerplate (don’t forget to link in stylesheets/style.css), add some basic navigation to header.ejs so that you have a place to add links when implementing the auth, etc.  Add a basic “home” link for now that routes to the root route (landing page) - something like <a href="/">HOME or WHATEVER YOU WANT</a> .  Make a commit. -->