<%- include('./partials/header') %>
<table id="list">
  <thead>
    <tr></tr>
  </thead>
    
     <div class="mainIndexNav">
        Welcome to What to pack Main page. This page will take you two places.
        To your Trips Page or to your Inventory Page.
    </div>

          <a href="/items" class="mainIndexNav">Inventory Page</a>
          <a href="/trips" class="mainIndexNav">Trip Page</a>
          
    
</table>
