<%- include('./partials/header') %>
<table id="list">
  <thead>
    <tr></tr>
  </thead>
  <tbody>
    <tr>
      <td>
        Welcome to What to pack Main page. This page will take you two places.
        To your Trips Page or to your Inventory Page.
      </td>
        
        <a href="/items">Inventory Page</a>
        <a href="/trips">Trip Page</a>

    </tr>
  </tbody>
</table>
