<%- include('./partials/header') %>
  
    <table class="mainContent">
      <tr>

        <td>
          This page will take you two places. <br>
          You can go to your trips page and manage the items you plan to take on your trip. <br> 
          Or, you can go to your inventory and add or remove items.
        </td>
      </tr>
      <tr>
        <td>
          <a href="/items" class="mainIndexNav">Inventory Page</a>
        </td>
      </tr>
        <td>
          <a href="/trips" class="mainIndexNav">Trip Page</a>
        </td>
        
      
    </table>

<%- include('./partials/footer'); %>