


.siteNameHeader {
  display: flex;
  justify-content: flex-start;
  font-size: 47px;
}

.logInlogOut {
  display: flex;
  justify-content: flex-end;
  color: white;
}

body {
  font-family: 'Amatic SC', cursive;
  color: white;
  background: #012D09;
  margin: 25px;
  font-size: 18px;
}

a {
  color:white;
}

.mainIndexNav {
  display: flex;
  justify-content: space-evenly;
  color:white;
}

.tripTable {
  text-align: center;
  color:white;
}

.inventoryTable {
  color:white;
  justify-items: flex-start;
}
