


.navHead {
  display: flex;
  justify-content: space-between;
  flex-grow: 4;
}

#wtpTitle {
  font-size: 55px;
}

.mainContent {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  line-height: 1.6;
}

body {
 
  font-family: 'Amatic SC', cursive;
  color: white;
  background: #012D09;
  margin: 25px;
  font-size: 18px;
}

a {
  color: yellow;
}

.itemTable {
  display: flex;
  justify-content: space-around;
  text-align: center;
}


.tentPic {
  justify-content: end;
}

