


.navHead {
  display: flex;
  justify-content: space-between;
  flex-grow: 4;
}

#wtpTitle {
  font-size: 55px;
}

.mainContent {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  line-height: 1.6;
}

body {
 
  font-family: 'Amatic SC', cursive;
  color: white;
  background: #012D09;
  margin: 25px;
  font-size: 18px;
}

a {
  color: yellow;
}

.itemTable {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
}

.pageTitle {
  padding: 15px;
}

.itemInputForm {
  display: flex;
  align-items: flex-end;
  position: relative;
  margin: 65px;
}

.tentPic {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  height: 70px;
  background-color: tomato;
  position: relative;
  min-height: 10vh;
  padding-right: 33px;
}

.bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;  
}

.tripTableHead {
  font-size: 36px;
  color: tomato;
}