<%- include('../partials/header') %>



<div class="pageTitle">
  Welcome to the Inventory Page. 
</div>

<div class="mainContent">
  <table class="itemTable">

      <tr>
        <th>Name</th>
        <th>category</th>
      </tr>
      
    
    
    <% items.forEach(function(i) { %>
      <tr>
        <td><%= i.name %></td>
        <div></div>
        <td><%= i.category %></td>
      </tr>     
      
      <% }); %>  
    </table>
  </div>
    
    <div class="mainContent">

      <div class="itemInputForm">
        
        
        <form class="indexForm" id="new-item-form" action="/items" method="POST">
          <label>Name:</label>
          <input type="text" name="name" />
          <label>Category:</label>
          <select name="category">
            <option value="campGear">Camp Gear</option>
            <option value="tool">Tool</option>
            <option value="consumable">Consumable</option>
            <option value="personalItem">Personal Items</option>
            <option value="morale">Morale</option>
          </select>
          
          
          <input type="submit" value="Add Item" />
        </form>
      </div>
    </div>
      
      <%- include('../partials/footer'); %>