<%- include('../partials/header') %>

<body>
  <h2 class="newTripTitle">Add a new trip here</h2>
  <form action="/trips/new" method="POST">
    <input id="location" name="location" type="text" />
    <label for="tripName">Trip Name</label>
    <input type="date" name="date" />
    <button type="submit">Add</button>
  </form>

  <%- include('../partials/footer'); %>
</body>
