<%- include('../partials/header') %>
<table id="list">
  <thead>
    <tr>
 
    </tr>
  </thead>
  <tbody>
    <li>
      Welcome to What to pack Trip Page. This page will take you two places. This page will give you access to your inventory and the contents of your trip, which you will add to the trip from the inventory.
    </li>


    </tbody>
  </table>
  
